<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-3">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group col-3">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group col-3">
    <%= form.label :phone %>
    <%= form.text_field :phone, class:"form-control" %>
  </div>
  <div class="field form-group">
  <%= form.number_field :user_id, id: :tenant_user_id, value:current_user.id, type:'hidden', class:"form-control" %>
</div>

  <div class="actions">
    <%= form.submit class:"btn btn-success btn-bottom-margin btn-top-margin" %>
  </div>
<% end %>
