<p id="notice"><%= notice %></p>


<div class="title-and-add-button">
<h1>Tenants</h1>
<%= link_to '+', new_tenant_path, class:"btn btn-success" %>

</div>

<table class="table table-bordered table-hover shadow">
  <thead class="thead-dark">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Resident</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <% if tenant.user_id == current_user.id %>
      <tr>
        <td><%= tenant.email %></td>
        <td><%= tenant.name %></td>
        <td><%= tenant.phone %></td>
        <td><% if tenant.resident %>Yes<% else %>No<% end %></td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Delete', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

