<!-- <p id="notice" class="alert alert-warning alert-dismissible"><%= notice %></p> -->

<div class="title-and-add-button">
<h1>Properties</h1>
<%= link_to '+', new_property_path, class:"btn btn-success" %>

</div>

<table class="table table-bordered table-hover shadow">
  <thead class="thead-dark">
    <tr>
      <th>Address</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Rented</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <% if property.user_id == current_user.id %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.postcode %></td>
        <td><%= property.city %></td>
        <td><% if property.rented %>Yes<% else %>No<% end %></td>
        <td>
          <%= link_to edit_property_path(property), class:"btn btn-outline-secondary" do %>
            <i class='far fa-edit'> </i>
          <% end %>
         </td>
         <td>
            <%= link_to property, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" do %>
              <i class='fas fa-trash'> </i>
            <% end %> 
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

