<!-- <p id="notice" class="alert alert-warning alert-dismissible"><%= notice %></p> -->

<h1>Properties</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Address</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Rented</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <% if property.user_id == current_user.id %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.postcode %></td>
        <td><%= property.city %></td>
        <td><% if property.rented %>Yes<% else %>No<% end %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path, class:"btn btn-secondary" %>
