<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
        <% rent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :from %>
    <%= form.date_select :from, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :to %>
    <%= form.date_select :to, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :paymant_date %>
    <%= form.date_select :paymant_date, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :deposit %>
    <%= form.text_field :deposit, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :property_id %>
<%= form.select( :property_id, @properties.collect { |property| [property.address, property.id] }) %>
  </div>

  <div class="field form-group">
    <%= form.label :tenant_id %>
    <%= form.select( :tenant_id, @tenants.collect { |tenant| [tenant.name, tenant.id] } ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
