<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>

      <ul>
        <% rent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.date_select :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.date_select :to %>
  </div>

  <div class="field">
    <%= form.label :paymant_date %>
    <%= form.date_select :paymant_date %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.text_field :deposit %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
