<p id="notice"><%= notice %></p>

<h1>Rents</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
    <th>Property</th>
    <th>Tenant</th>
      <th>From</th>
      <th>To</th>
      <th>Paymant date</th>
      <th>Rent</th>
      <th>Deposit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
      <td><%= @properties.find_by_id(rent.property_id).address %></td>
      <td><%= @tenants.find_by_id(rent.tenant_id).name %></td>
        <td><%= rent.from %></td>
        <td><%= rent.to %></td>
        <td><%= rent.paymant_date %></td>
        <td><%= rent.rent %></td>
        <td><%= rent.deposit %></td>
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.properties.where(rented: false).length > 0%>
<%= link_to 'New Rent', new_rent_path, class:"btn btn-secondary" %>
   <% else %>
   You don't have free properties.

   <% end %>
  

