<p id="notice"><%= notice %></p>

<h1>Due Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @due_types.each do |due_type| %>
      <tr>
        <td><%= due_type.name %></td>
        <td><%= link_to 'Show', due_type %></td>
        <td><%= link_to 'Edit', edit_due_type_path(due_type) %></td>
        <td><%= link_to 'Destroy', due_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Due Type', new_due_type_path %>
