<p id="notice"><%= notice %></p>

<h1>Due Types</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @due_types.each do |due_type| %>
      <% if due_type.user_id == current_user.id %>
      <tr>
        <td><%= due_type.name %></td>
      
        <!-- <td><%= link_to 'Edit', edit_due_type_path(due_type) %></td> -->
        <td><%= link_to 'Delete', due_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
        
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Due Type', new_due_type_path, class:"btn btn-secondary" %>
