
<div class="title-and-add-button">
<h1>Due and bill Types</h1>
<%= link_to '+', new_due_type_path, class:"btn btn-success " %>
</div>
<table class="table table-bordered table-hover shadow-sm">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @due_types.each do |due_type| %>
      <% if due_type.user_id == current_user.id %>
      <tr>
        <td><%= due_type.name %></td>
        <td>
        <%= link_to edit_due_type_path(due_type), class:"btn btn-outline-secondary" do %>
          <i class='far fa-edit'> </i>
        <% end %>
        </td>
        <td>
        <%= link_to due_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" do %>
          <i class='fas fa-trash'> </i>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to dues', dues_path, class:"btn btn-secondary" %>
