<%= form_with(model: due, local: true) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Paying the bill -->
  <% if params[:operation]== 'pay' %> 
 <div class="field">
  You've paid <%= @due.paid_amount %> 
  <br>
  <%= @to_pay %> out of <%= @due.amount %> left to pay.
  <!-- <%= form.label :paid_amount %>
  <%= form.text_field :paid_amount %> -->
  <br>
   <%= form.label 'how much do you want to pay'%>
  <%= form.number_field :paid_amount, value: number_to_currency(@to_pay, delimiter: '', unit: '') %>

</div>

<div class="field">
  <%= form.label :paid_at %>
  <%= form.date_select :paid_at %>
</div> 
  
  
 <% else %>
 <div class="field form-group">
  <%= form.label :due_type_id %>
  <!-- <%= form.number_field :type_id %> -->
  <%= form.select( :due_type_id, @due_types.collect { |type| [type.name, type.id] }) %>
</div>

<!-- <div class="field">
  <%= form.label :rent_id %>
  <%= form.number_field :rent_id %>
</div> -->

<% if params[:payer]== 'property' %>
<div class="field form-group">
  <%= form.label :property_id %>
  <!-- <%= form.number_field :property_id %> -->
  <%= form.select( :property_id, @properties.collect { |property| [property.address, property.id] }) %>
</div>
<% end %> 


-
<% if params[:payer]== 'tenant' %>
<div class="field form-group">
  <%= form.label :tenant_id %>
  <%= form.number_field :tenant_id %>
</div>
<% end %> 
<div class="field form-group">
  <%= form.label :period_from %>
  <%= form.date_select :period_from %>
</div>

<div class="field form-group">
  <%= form.label :period_to %>
  <%= form.date_select :period_to %>
</div>

<div class="field form-group">
  <%= form.label :amount %>
  <%= form.text_field :amount, :required => 'required' %>
</div>


<div class="field form-group">
  <%= form.label :payment_date %>
  <%= form.date_select :payment_date %>
</div>

<div class="field form-group"">
<%= form.number_field :user_id, id: :due_user_id, value: current_user.id, class:"form-control", type: :hidden %>
</br>
</div>

 
  
  
  <% end %>





  <div class="actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
