<%= form_with(model: due, local: true) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Paying a bill -->
  <% if params[:operation]== 'pay' %> 
 <div>
    You've paid <%= @due.paid_amount %> 
    <br>
    <%= @to_pay %> out of <%= @due.amount %> left to pay.
    <br>
    How much do you want to pay?
  <div class="field form-group col-1 ">
    <%= form.number_field :paid_amount, value: number_to_currency(@to_pay, delimiter: '', unit: ''), class:"form-control" %>
  </div>
</div>
<div class="field form-group col-3">
  <%= form.label :paid_on %>
  <%= form.date_field :paid_on, value: @today, class: "form-control"%>
</div> 

<!-- Collecting a due -->
<% elsif params[:operation]== 'collect' %> 
<div class="field form-group col-3"">
  You've collected <%= @due.paid_amount %> 
  <br>
  <%= @to_pay %> out of <%= @due.amount %> left to collect.
  <br>
    <%= form.label 'how much do you want to collect'%>
  <%= form.number_field :paid_amount, value: number_to_currency(@to_pay, delimiter: '', unit: '') %>
</div>
<div class="field form-group col-3">
  <%= form.label :paid_on %>
  <%= form.date_field :paid_on, value: @today, class: "form-control" %>
</div> 

 <% else %>
<div class="row">
 <!-- Creating a new due -->
 <div class="field form-group col-3">
  <%= form.label :due_type_id %>
  <%= form.select( :due_type_id, @due_types.collect { |type| [type.name, type.id] }, {}, {class: "form-select"}) %>
</div>
<% end %>

 <!-- Only for bills to pay -->
<% if params[:payer]== 'property' %>
<div class="field form-group col-3">
  <%= form.label :property_id %>
  <%= form.select( :property_id, @properties.collect { |property| [property.address, property.id] }, {}, {class: "form-select"}) %>
</div>
</div>
<% end %> 

 <!-- Only for dues to collect -->
<% if params[:payer]== 'tenant' %>
<div class="field form-group col-3">
  <%= form.label :tenant_id %>
  <%= form.select( :tenant_id, @tenants.collect { |tenant| [tenant.name, tenant.id] }, {}, {class: "form-select"}) %>
</div>
</div>
<% end %> 


<% if params[:payer] %>
<div class="row">
  <div class="field form-group col-3">
    <%= form.label :period_from %>
    <%= form.date_field :period_from, :required => 'required', class: "form-control"%>
  </div>
  <div class="field form-group col-3">
    <%= form.label :period_to %>
    <%= form.date_field :period_to, :required => 'required', class: "form-control"%>
  </div>
</div>
<div class="row">
  <div class="field form-group col-1">
    <%= form.label :amount %>
    <%= form.text_field :amount, :required => 'required', class:"form-control" %>
  </div>
  <div class="field form-group col-3">
    <%= form.label :payment_date %>
    <%= form.date_field :payment_date, :required => 'required', class:"form-control" %>
  </div>
</div>
<% end %>

<div class="field form-group"">
<%= form.number_field :user_id, id: :due_user_id, value: current_user.id, class:"form-control", type: :hidden %>
</div>

<% if params[:payer]== 'property' %>
<div class="actions">
  <%= form.submit "Create a bill to pay", class:"btn btn-success btn-bottom-margin btn-top-margin" %>
</div>
<% elsif params[:payer]== 'tenant' %>
<%= form.submit "Create a due to collect", class:"btn btn-success btn-bottom-margin btn-top-margin" %>
<% elsif params[:operation]== 'pay' %>
<%= form.submit "Pay the bill", class:"btn btn-success btn-bottom-margin btn-top-margin" %>
<% elsif params[:operation]== 'collect' %>
<%= form.submit "Collect the due", class:"btn btn-success btn-bottom-margin btn-top-margin" %>
<% else %>
  <div class="actions">
    <%= form.submit class:"btn btn-success btn-bottom-margin btn-top-margin" %>
  </div>
<% end %>

<% end %>
