<%= form_with(model: due, local: true) do |form| %>
  <% if due.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(due.errors.count, "error") %> prohibited this due from being saved:</h2>

      <ul>
        <% due.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :due_type_id %>
    <!-- <%= form.number_field :type_id %> -->
    <%= form.select( :due_type_id, @due_types.collect { |type| [type.name, type.id] }) %>
  </div>

  <div class="field">
    <%= form.label :rent_id %>
    <%= form.number_field :rent_id %>
  </div>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id %>
  </div>

  <div class="field">
    <%= form.label :tenant_id %>
    <%= form.number_field :tenant_id %>
  </div>

  <div class="field">
    <%= form.label :period_from %>
    <%= form.date_select :period_from %>
  </div>

  <div class="field">
    <%= form.label :period_to %>
    <%= form.date_select :period_to %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :paid_amount %>
    <%= form.text_field :paid_amount %>
  </div>

  <div class="field">
    <%= form.label :paid_at %>
    <%= form.date_select :paid_at %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
