<div class="my-jumbotron shadow-sm">
<h1>Pay the <%= @due_types.find_by_id(@due.due_type_id).name %> - <%= @due.amount %>$</h1>
<% if params[:operation]== 'pay' %> 
Property: <%= @properties.find_by_id(@due.property_id).address %>
<% elsif params[:operation]== 'collect' %> 
Tenant: <%= @tenants.find_by_id(@due.tenant_id).name %>
<% end %>
<!-- Bill data here -->


<%= render 'form', due: @due %>
<%= link_to 'Back', dues_path, class:'btn btn-secondary' %>
</div>
