

<div class="title-and-add-button">
  <div class="left d-flex">
    <div class="table-title">Bills to pay</div>
    <div class="mt-auto mb-auto"><%= link_to '+', new_due_path(:payer => 'property'), class:"btn btn-success " %> </div>
  </div>
    <div class="right">
    <%= link_to 'Edit due types', due_types_path, class:"btn-sm btn-success " %>
  </div>
</div>


<table class="table table-bordered table-hover shadow">
  <thead>
    <tr>
      <!-- <th>Agreement</th> -->
      <th>Property</th>
      <th>Type</th>
      <!-- <th>Tenant</th> -->
      <th>Period from</th>
      <th>Period to</th>
      <th>Amount</th>
      <th>Paid amount</th>
      <th>Paid on</th>
      <th>Payment date</th>
      <th>Status</th>
      <th>Pay</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <% if bill.user_id == current_user.id %>
      <tr class="<%= bill.status.downcase %>">
        <!-- <td><%= bill.agreement_id %></td> -->
        <td><%= @properties.find_by_id(bill.property_id).address %></td>
        <td><%= @due_types.find_by_id(bill.due_type_id).name %></td>
        <!-- <td><%= bill.tenant_id %></td> -->
        <td><%= bill.period_from %></td>
        <td><%= bill.period_to %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.paid_amount %></td>
        <td><%= bill.paid_on %></td>
        <td><%= bill.payment_date %></td>
        <td><%= bill.status %></td>
        <td><%= link_to 'Pay', edit_due_path(bill, :operation => 'pay'), class:"btn btn-outline-success" %></td>
        <td>
        <%= link_to bill, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" do %>
          <i class='fas fa-trash'> </i>
        <% end %> 
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'Bill types', due_types_path, class:"btn btn-secondary" %> -->
<div class="title-and-add-button">
  <div class="left d-flex">
    <div class="table-title">Dues to collect</div>
    <div class="mt-auto mb-auto"><%= link_to '+', new_due_path(:payer => 'tenant'), class:"btn btn-success " %> </div>
  </div>
    <div class="right">
    <%= link_to 'Edit due types', due_types_path, class:"btn-sm btn-success " %>
  </div>
</div>


<table class="table table-bordered table-hover shadow">
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Type</th>
      <th>Period from</th>
      <th>Period to</th>
      <th>Amount</th>
      <th>Paid amount</th>
      <th>Paid on</th>
      <th>Payment date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenant_dues.each do |due| %>
      <% if due.user_id == current_user.id %>
      <tr class="<%= due.status.downcase %>">
        <!-- <td><%= due.agreement_id %></td> -->
        <!-- <td><%= due.property_id %></td> -->
        <td><%= @tenants.find_by_id(due.tenant_id).name %></td>
        <td><%= @due_types.find_by_id(due.due_type_id).name %></td>
        <td><%= due.period_from %></td>
        <td><%= due.period_to %></td>
        <td><%= due.amount %></td>
        <td><%= due.paid_amount %></td>
        <td><%= due.paid_on %></td>
        <td><%= due.payment_date %></td>
        <td><%= due.status %></td>
        <td><%= link_to 'Collect', edit_due_path(due, :operation => 'collect'), class:"btn btn-outline-success" %></td>
        <td>
          <%= link_to due, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" do %>
          <i class='fas fa-trash'> </i>
        <% end %>  
          </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<!-- TEST TESET TEST -->
<!-- <h1>All the dues objects- for testing</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Type</th>
      <th>Rent</th>
      <th>Property</th>
      <th>Tenant</th>
      <th>Period from</th>
      <th>Period to</th>
      <th>Amount</th>
      <th>Paid amount</th>
      <th>Paid on</th>
      <th>Payment date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dues.each do |due| %>
      <% if due.user_id == current_user.id %>
      <tr>
        <td><%= @due_types.find_by_id(due.due_type_id).name %></td>
        <td><%= due.agreement_id %></td>
        <td><%= due.property_id %></td>
        <td><%= due.tenant_id %></td>
        <td><%= due.period_from %></td>
        <td><%= due.period_to %></td>
        <td><%= due.amount %></td>
        <td><%= due.paid_amount %></td>
        <td><%= due.paid_on %></td>
        <td><%= due.payment_date %></td>
        <td><%= due.user_id %></td>
        <td><%= link_to 'Pay', edit_due_path(due, :operation => 'pay') %></td>
        <td><%= link_to 'Cancel', due, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table> -->


