<%= form_with(model: agreement, local: true) do |form| %>
  <% if agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
        <% agreement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field form-group col-3">
    <% if @properties.empty? %>
     <span class="alert-empty"> You don't have any available properties! </span>
    <% else %>
    <%= form.label :property_id %>
  <%= form.select( :property_id, @properties.collect { |property| [property.address, property.id] }, {}, {class: "form-select"}) %>
<% end %>
  </div>

  <div class="field form-group col-3">
    <% if @tenants.empty? %>
    <span class="alert-empty">You don't have any tenants to assign!</span>
    <% else %>
    <%= form.label :tenant_id %>
    <%= form.select( :tenant_id, @tenants.collect { |tenant| [tenant.name, tenant.id] }, {}, {class: "form-select"} ) %>
<% end %>
  </div>
</div>

<div class="row">
  <div class="field form-group col-2">
    <%= form.label :from %>
    <%= form.date_field :from, :required => 'required', class:"form-control" %>
  </div>
  <div class="field form-group col-2">
    <%= form.label :to %>
    <%= form.date_field :to, :required => 'required', class:"form-control" %>
  </div>
</div>



  <div class="row">
  <div class="field form-group col-1">
    <%= form.label :rent %>
    <%= form.text_field :rent, :required => 'required', class:"form-control" %>
  </div>

  <div class="field form-group col-3">
    <%= form.label :payment_date %>
    <%= form.date_field :payment_date, :required => 'required', class:"form-control" %>
  </div>

  </div>

  <div class="field form-group col-1">
    <%= form.label :deposit %>
    <%= form.text_field :deposit, :required => 'required', class:"form-control" %>
  </div>

  <div class="field form-group"">
  <%= form.number_field :user_id, id: :agreement_user_id, value: current_user.id, class:"form-control", type: :hidden %>
</br>
</div>

<% if !@properties.empty? && !@tenants.empty? && %>
  <div class="actions">
    <%= form.submit class:"btn btn-success btn-bottom-margin btn-top-margin" %>
  </div>
  <% end %>
<% end %>
