<p id="notice"><%= notice %></p>



<% if current_user.properties.where(rented: false).length > 0%>
<div class="title-and-add-button">
<h1>Agreements</h1>
<%= link_to '+', new_agreement_path, class:"btn btn-success " %>
</div>
   <% else %>
All your properties are rented.

   <% end %>


<table class="table table-bordered table-hover shadow-sm">
  <thead class="thead-dark">
    <tr>
    <th>Property</th>
    <th>Tenant</th>
      <th>From</th>
      <th>To</th>
      <th>Payment date</th>
      <th>Agreement</th>
      <th>Deposit</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @agreements.each do |agreement| %>
      <% if agreement.user_id == current_user.id %>
      <tr>
      <td><%= @properties.find_by_id(agreement.property_id).address %></td>
      <td><%= @tenants.find_by_id(agreement.tenant_id).name %></td>
        <td><%= agreement.from %></td>
        <td><%= agreement.to %></td>
        <td><%= agreement.payment_date %></td>
        <td><%= agreement.rent %></td>
        <td><%= agreement.deposit %></td>

        <td>
        <%= link_to edit_agreement_path(agreement), class:"btn btn-outline-secondary" do %>
          <i class='far fa-edit'> </i>
        <% end %>
        </td>
        <td>
        <%= link_to agreement, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" do %>
          <i class='fas fa-trash'> </i>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

  

