<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @agreement.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @agreement.to %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @agreement.payment_date %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @agreement.rent %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @agreement.deposit %>
</p>

<p>
  <strong>Property:</strong>
  <%= @agreement.property_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @agreement.tenant_id %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
